.container {
  max-width: 1340px;
  padding: 40px;
  padding-bottom: 200rem;

  margin: auto;

  color: var(--color-white-text);
}





/* Questions */
.questions_container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

  padding-top: 20px;
}

.question_container input[type="file"] {
  display: none;
}

.aside_bar {
  width: 50px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  position: sticky;
  top: 8rem;

  border-radius: 10px;
  background: var(--dark-container);
}

.icon svg {
  font-size: 1.75rem;
  color: var(--color-white-text);
}

.questions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.question_container {
  padding: 35px 20px;
  background: var(--dark-container);
  border-radius: 20px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.question_header {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  align-items: center;
}

.question_header .text {
  flex: 4;
  border-bottom: 1px solid var(--color-white-text);
  padding-bottom: 8px;
}

.question_header .text input {
  background: transparent;
  outline: none;
  border: none;
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--color-white-text);
}

.icon {
  font-size: 2rem;
  color: var(--color-white-text);
  cursor: pointer;
}

.question_body {
  min-height: 100px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.question_body > p {
  max-width: 740px;
  border-bottom: dotted 2px;
  padding-bottom: 8px;
}

.question_footer {
  width: 100%;

  font-size: 25px;

  display: flex;
  justify-content: center;
  align-self: end;
  align-items: center;
  gap: 30px;

  padding-top: 20px;
  border-top: 2px solid var(--color-white-text);
}


.alternative_container {
  display: flex;
  gap: 4rem;

  transition: all 0.3s;
}

.alternative_container:hover input {
  background-color: rgba(200, 200, 200, 0.372);
}

.alternative {
  flex: 1;
  border-bottom: 1px solid;
  display: flex;
  gap: 15px;
  align-items: center;
}

.alternative input {
  width: 100%;

  color: var(--color-white-text);
  font-size: clamp(1rem, 5vw, 1.2rem);

  padding-bottom: 2px;

  border: none;
  outline: none;
  background-color: transparent;
}

.alternative .icon svg {
  font-size: 1.2rem;
}

.alternative.correct .icon svg {
  color: #fff;
}

.question_body.single .alternative button {
  width: 1.7rem;
  height: 1.7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;

  border-radius: 100%;
  outline: 2px solid var(--color-white-text);
  background-color: transparent;
}

.question_body.multiples .alternative button {
  width: 1.8rem;
  height: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;

  border-radius: 4px;
  outline: 2px solid var(--color-white-text);
  background-color: transparent;
}

.question_body.single .alternative.correct button {
  width: 2rem;
  height: 2rem;
  
  outline: 0;
  background-color: #1bb69d !important;
}

.question_body.multiples .alternative.correct button {
  width: 2rem;
  height: 2rem;
  
  outline: 0;
  background-color: #1bb69d !important;
}

.outhers_container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.options span {
  cursor: pointer;
  transition: all .3s;
}

.options span:nth-child(1){
  color: #CACACA;
  border-color: #CACACA;
}

.options span:nth-child(2){
  color: #DAA05C;
  border-color: #DAA05C;
}

.options span:hover {
  border-bottom: 1px solid;
}




/* Switch */
.switch_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 35px;

  border-left: 2px solid var(--color-white-text);
}

.switch_container span {
  font-size: clamp(1rem, 5vw, 1.3rem);
  font-weight: bold;
}

.switch {
  margin-top: -40px;
}

.switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 25px;
  background: var(--color-white-text);
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch label:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.switch input:checked + label {
  background: #1bb69d;
}

.switch input:checked + label:after {
  left: calc(100% + 5px);
  transform: translateX(-100%);
}
