.container {
  max-width: 1340px;
  padding: 40px;
  padding-bottom: 200rem;

  color: var(--color-white-text);
}

/* Descrição */
.description_container {
  min-height: 230px;

  display: flex;
  flex-flow: column nowrap;
  gap: 40px;

  padding: 40px 35px;

  border-radius: 20px;
  background-color: var(--dark-container);
}

.description_container > input {
  font-size: clamp(1.6rem, 8vw, 2rem);
  color: var(--color-white-text);

  border: 0;
  outline: 0;
  background-color: transparent;
  transition: all 0.3s;
}

.description_container > input:hover,
.description_container > input:focus {
  outline: 1px solid var(--color-white-text);
}

.description_container textarea {
    height: 200px;
    resize: none;
}

.description_container > .link_github > .icon {
    height: 2rem !important;
    width: 2rem;
}

/* Switch */
.switch_container input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch_container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 200px;
  height: 100px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch_container label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.switch_container input:checked + label {
  background: #bada55;
}

.switch_container input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.switch_container label:active:after {
  width: 130px;
}
