.container {
  flex: 1;
  height: inherit;

  display: flex;
  flex-flow: column nowrap;
  gap: clamp(10px, 2vw, 30px) 56px;

  padding-top: clamp(20px, 3vw, 40px);
}

.container .input_container {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: clamp(20px, 2vw, 56px);
}

.button_container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 1.25rem;
  color: var(--color-white-text);

  padding-top: 20px;
}

.container .accept {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
}

.password_info_container {
  color: var(--color-white-text);
  font-size: clamp(1rem, 1.6vw, 1.25rem);

  padding-left: 15px;
}

.password_info_container ul li.error {
  color: var(--dark-pink);
}

.password_info_container ul li.success {
  color: var(--toastify-color-success);
}

/* Media Queries */
@media only screen and (max-width: 485px) {
  .button_container {
    justify-content: center;
    align-items: center;
  }
}
