.alternative_container {
  display: flex;
  gap: 4rem;

  transition: all 0.3s;
}

.alternative_container svg {
  font-size: 2em;
}

.alternative_container:hover input {
  background-color: rgba(200, 200, 200, 0.372);
}

.alternative {
  flex: 1;
  display: flex;
  gap: 15px;
  align-items: center;

  padding-bottom: 8px;

  border-bottom: 1px solid;
}

.alternative svg {
  color: #fff;
}

.alternative input {
  width: 100%;

  color: var(--color-white-text);
  font-size: clamp(1rem, 5vw, 1.2rem);

  padding-bottom: 2px;

  border: none;
  outline: none;
  background-color: transparent;
}

.alternative .icon svg {
  font-size: 1.2rem;
}

.alternative.correct .icon svg {
  color: #fff;
}

.alternative.uncorrect .icon svg {
  color: var(--color-white-text);
}

.alternative_container.single .alternative button,
.alternative_container.multiples .alternative button {
  width: 1.7rem;
  height: 1.7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  border-radius: 100%;
  outline: 2px solid var(--color-white-text);
  background-color: transparent;

  cursor: pointer;
}

.alternative_container.multiples .alternative button {
  border-radius: 4px;
}

.alternative_container.single .alternative.correct button,
.alternative_container.multiples .alternative.correct button {
  outline-color: #1bb69d;
  background-color: #1bb69d !important;
}
