.questions_container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

  padding-top: 20px;
}

.aside_bar {
  width: 50px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  position: sticky;
  top: 8rem;

  border-radius: 10px;
  background: var(--dark-container);
}

.icon svg {
  font-size: 1.75rem;
  color: var(--color-white-text);
}

.questions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (max-width: 660px) {
  .aside_bar {
    width: 100%;
    height: 80px;

    flex-direction: row;
    justify-content: space-evenly;

    position: fixed;
    bottom: 0px;
    top: auto;
    z-index: 1;

    border-radius: 0px;
    padding: 0;

    background-color: var(--dark-light-blue);
  }

  .icon svg {
    font-size: 2.5rem;
    color: var(--color-white-text);
  }
}
