.alternative {
  display: flex;
  gap: 15px;
  padding: 20px 20px;
  align-items: center;

  background-color: var(--dark-container);
}

.alternative p {
  font-size: clamp(.5rem, 4vw, 1.2rem);
}

.alternative button svg {
  font-size: clamp(0.8rem, 5vw, 1.3rem);
}
.alternative button {
  all: unset;

  min-width: clamp(1rem, 5vw, 40px);
  min-height: clamp(1rem, 5vw, 40px);
  
  border: 1px solid var(--color-white-text);
  display: flex;
  align-items: center;
  justify-content: center;
}


.alternative:hover {
  outline: 1px solid var(--color-white-text);
  cursor: pointer;
  background-color: #1b1b60;
}

.alternative.selected {
  border: 2px solid #1bb69d;
  color: white;
}

.alternative.selected button {
  border: 1px solid #1bb69d !important;
  background-color: #1bb69d !important;
}

.alternative.single div {
  all: unset;

  min-width: clamp(1rem, 5vw, 40px);
  min-height: clamp(1rem, 5vw, 40px);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  border: 1px solid var(--color-white-text);
  background-color: transparent;
}

.alternative.single input[type="radio"] {
  all: unset;
}

.alternative.single:has([type="radio"]:checked) {
  border: 2px solid #1bb69d;
  color: white;

}

.alternative.single:has([type="radio"]:checked) div {
  background-color: #1bb69d;
  border: 1px solid #1bb69d;
}

.selectedIcon {
  display: none;
}

.alternative.single:has([type="radio"]:checked) .selectedIcon {
  display: block;
  color: #fff;

}