.container {
    max-width: 1280px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px 40px 40px 40px;
    margin: auto;
    
    background-color: var(--dark-container);
    color: var(--color-white-text);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;

    border-bottom: 1px solid var(--color-white-text);
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 60px;
    height: 60px;

    border-radius: 100%;
}

.logo p {
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.progress p {
    font-size: clamp(.8rem, 5vw, 1rem);
}

.progress progress {
    width: 100%;
}

.info_container {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
}

.info_container div {
    display: flex;
    gap: 20px;
}

.info_container p {
    font-size: clamp(.8rem, 5vw, 1rem);
}

.info_container span {
    font-size: clamp(.8rem, 5vw, 1rem);
}

.question {

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-top: 20px;
}

.question p {
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: 500;
    letter-spacing: 2px;
    line-height: clamp(1.4rem, 5vw, 2rem);

}

.question img {
    width: 100%;
}

.alternatives_container {
    display: flex;
    flex-direction: column;
}

.alternative {
    display: flex;
    gap: 15px;
    padding: 20px 20px;

    transition: all 0.3s;
}

.alternative button {
    width: 40px;
    height: 40px;

    border-radius: 100%;
    border-color: var(--color-white-text);
    background-color: transparent;
}

.alternative p {
    font-size: clamp(1.2rem, 5vw, 1.7rem);
}

.alternative:hover {
    outline: 1px solid var(--color-white-text);
    cursor: pointer;
}
