.container {
  max-width: 1280px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px 40px 40px 40px;
  margin: auto;
  margin-top:  10vh;

  color: var(--color-white-text);
  border-radius: 10px;
  background-color: var(--dark-container);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 20px;

  border-bottom: 1px solid var(--color-white-text);
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 60px;
  height: 60px;

  border-radius: 100%;
}

.logo p {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.progress p {
  font-size: clamp(0.8rem, 5vw, 1rem);
}

.progress progress {
  width: 100%;
}

.info_container {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
}

.info_container div {
  display: flex;
  gap: 20px;
}

.info_container p {
  font-size: clamp(0.8rem, 5vw, 1rem);
}

.info_container span {
  font-size: clamp(0.8rem, 5vw, 1rem);
}

.info_container button {
  display: flex;
  justify-content: center !important;
  align-items: center !important;

  padding: clamp(.2rem, 5vw, .4rem) clamp(1rem, 5vw, 1.2rem);
}

.question {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-top: 20px;
}

.question p {
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-weight: 500;
  letter-spacing: 2px;
  line-height: clamp(1.4rem, 5vw, 2rem);
}

.question img {
  width: 100%;
}

.alternatives_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.pages_questions {
  height: 90px;

  position: relative;
  overflow: hidden;

}

.pages_questions ul {
  width: inherit;

  position: absolute;
  top: 40px;
  overflow: hidden;
  overflow-x: auto;

  display: flex;
  justify-content: space-evenly;
  gap: 10px;

  padding: 10px 0px;

}

.pages_questions li {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  cursor: pointer;

  border-radius: 50%;
  transition: all 0.3s;
  outline: 1px solid var(--color-white-text);
}

.pages_questions li:hover {
  cursor: pointer;
  background-color: #1b1b60;
}

.tab_selected {
  color: #fff !important;
  outline-color: #1bb69d !important;
  background-color: #1bb69d;
}

.buttons_container {
  display: flex;
  justify-content: space-between;

  padding-top: 40px;
  border-top: 2px solid var(--color-white-text);
}
