.container {
  flex: 1;

  color: var(--color-white-text);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  position: relative;
}

.container label {
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-weight: 300;
}

.container label a {
  font-size: clamp(0.75rem, 3vw, 1.125rem);
}


.container input[type="checkbox"] {
  position: relative;
  cursor: pointer;

  transform: translateY(-6px);
}

.container input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: clamp(15px, 10vw, 25px);
  height: clamp(15px, 10vw, 25px);
  top: 0;
  left: 0;

  border: 1px solid var(--color-white-text);
  color: #cbcbcb;
  background-color: var(--dark-container);
}

.container input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 9px;
}

/** Media Queries **/
@media only screen and (max-width: 425px) {
  .container label {
    padding-top: 10px;
    align-self: center;
  }
}
