.container {
  display: none;
}

.container.active {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Filtros */
.filter_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  gap: 10px;

  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-white-text);
}

.filter h3 {
  flex: 100% 0 0;
}

.filter .inputs {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-top: 4px;
}

.filter input[type="number"] {
  all: unset;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  outline: 1px solid var(--color-white-text);

  background-color: var(--dark-light-blue);
}

.radio_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.radio_container label {
  display: flex;
  align-items: center;
  gap: 4px;

  cursor: pointer;
}

.radio_container label input {
  width: 1.2rem;
  height: 1.2rem;
}

/* Tabela */
.table_container table {
  min-width: 100%;
  border-collapse: collapse;

  transition: all 0.3s ease !important;
}

.table_container table .profile {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 18px 0;
}

.table_container table thead tr {
  height: 60px;
  transition: all 0.3s ease;

  background-color: var(--dark-blue);
}

.table_container table thead th {
  font-size: clamp(0.6rem, 5vw, 1.2rem);
}

.table_container table thead th:nth-last-child(1),
.table_container table tbody td:nth-last-child(1) {
  padding-right: 20px;
}

.table_container table tbody tr:hover {
  background-color: var(--dark-grey) !important;
}

.table_container table tbody td {
  text-align: center;
  font-size: clamp(0.6rem, 5vw, 1.2rem);
}

.table_container table .profile img {
  width: clamp(1rem, 5vw, 3rem);
  height: clamp(1rem, 5vw, 3rem);

  object-fit: cover;

  border-radius: 100%;

  cursor: pointer;
}

.table_container table .actions div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.table_container table .actions .icon svg {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  cursor: pointer;
  transition: all 0.3s;
}

.table_container table .actions .icon:hover svg {
  color: #fff;
  transform: scale(1.1);
}

.table_container table .actions span {
  display: flex;
  align-items: center;
}

.table_container table tbody tr:nth-child(even) {
  background-color: var(--dark-light-blue);
}

/* Modal */
h1.styles.title_modal {
  font-size: clamp(1rem, 5vw, 1.4rem);
}

.info_modal {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info_modal p {
  font-size: clamp(0.6rem, 5vw, 1rem);
}

.dev_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dev_info h2 {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
}

.dev_content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-white-text);
}

.dev_content .profile_img {
  display: flex;
  gap: 20px;
}

.dev_content .profile_img img {
  width: clamp(2.6rem, 5vw, 4.4rem);
  height: clamp(2.6rem, 5vw, 4.4rem);

  object-fit: cover;
  border-radius: 100%;
}

.dev_content .profile_img div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dev_content .profile_img div .name {
  font-weight: 500;
}
.dev_content .profile_img div .email {
  font-weight: 300;
}

.dev_content .profile_img .ranking {
  width: max-content;
  height: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  padding: 4px 12px;
  outline: 1px solid var(--color-white-text);
}

.dev_content .profile_img .ranking svg{
  font-size: clamp(.8rem, 5vw, 1.4rem);
  cursor: default;
}





.info_modal .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info_modal .content h2 {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
}

.info_modal details {
  transition: all 0.3s;
}

.info_modal details summary {
  font-size: clamp(0.6rem, 5vw, 1rem);
  font-weight: 500;
}

.info_modal .models {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_modal .model_email {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-top: 20px;
  border-bottom: 1px solid var(--color-white-text);
}

.info_modal .model_email h3 {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
}

.info_modal .model_email p {
  font-size: clamp(0.6rem, 5vw, 1rem);
  font-weight: 300;
  letter-spacing: 1px;
}

.info_modal .model_email a {
  align-self: flex-end;
}

.info_modal .model_email button {
  transform: scale(0.8) !important;
}

.info_modal a:not(.info_modal .model_email a) {
  width: max-content;

  font-size: clamp(0.6rem, 5vw, 1rem);

  padding: 4px 16px;
  outline: 1px solid var(--color-white-text);

  align-self: flex-end;

  transition: all 0.3s ease;
}

.info_modal a:hover:not(.info_modal .model_email a) {
  color: var(--dark-background);
  background-color: var(--color-white-text);
}
