.container {
  max-width: 1440px;
  width: 100%;

  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10vh;

}

.container header {

  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-bottom: 20px;
}

.container header .content > div input {
  height: 30px !important;
  font-size: clamp(.6rem, 5vw, 1rem) !important;

}


.group_container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.group_description {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group_config {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;

  margin-bottom: 40px;
}

.group_config h2, .container header h2 {
  font-size: clamp(1rem, 5vw, 1.4rem);
}

.group_description {
  flex: 630px 0 1;
}

.group_description .description {
  width: inherit;

  outline: 1px solid var(--color-white-text);
  border-radius: 6px;
}

.description textarea {
  all: unset;

  width: 100%;
  height: 20vh;

  padding: 20px;

  border: none;
  background-color: transparent;
}

.description textarea:focus {
  outline: 2px solid var(--color-primary);
}

.description textarea::placeholder {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  line-height: clamp(0.9rem, 5vw, 1.3rem);
}

.group_team {
  flex: 421px 0 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group_team .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.group_team .search_bar {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 4px 12px;

  outline: 2px solid var(--color-white-text);
  border-radius: 6px;
}

.group_team .search_bar input {
  all: unset;
  width: 100%;
}


.group_team .search_bar .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(1rem, 5vw, 1.6rem);

  transition: all .5s ease-in-out !important;
}

.group_team .search_bar .icon:hover svg {
  transform: scale(1.2);
  color: white;
}

.team_container {
  column-count: 2;
}

.info_container {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 15px;
}

.info_container .image {
  width: 30px;
  height: 30px;
}

.info_container .image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;

  object-fit: cover;
}

.info_container .icon {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(0.8rem, 5vw, 1.6rem);
}

.test_relation_container {
  display: flex;
  flex-direction: column;
}

.test_relation_container > h2 {
  font-size: clamp(1.4rem, 5vw, 1.8rem);
  margin-bottom: 20px;
}

.test_relation_container .select_container {
  width: 320px;

  margin-bottom: 40px;
}

.tests_container {
  display: flex;
  gap: 20px;
}

.tests_container > div {
  max-width: 310px;
  border-radius: 20px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end !important;
}

.button_container button {
  width: max-content;

  font-weight: bold;

  border-radius: 8px;
}
