.row {
    width: 100%;
    max-width: 1440px;

    position: relative;

    margin: 0 auto;
}



.list_area {
    overflow-x: hidden;

    padding-left: 30px;
}

.list {
    transition: all ease .5s;
    display: flex;
    gap: 20px;
}

.item {
    width: max-content;

    display: inline-block;
}



.left,
.right {
    width: 40px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 99;
    overflow: hidden;

    cursor: pointer;
    opacity: 0;
    transition: all ease .2s;
    background: rgba(0, 0, 0, .6);
}

.left svg,
.right svg {
    font-size: 3.125rem;
}


.left {
    left: 0px;
}

.right {
    right: 0px;
}

.row:hover .left,
.row:hover .right {
    opacity: 1;
}

.left:hover, .right:hover {
    color: var(--primary-yellow);
}


/* Responsividade */
@media (max-width: 767px) {
    .left,
    .right {
        opacity: 1;
        user-select: none;

        background-color: transparent;
    }
    .left:hover, .right:hover {
        color: #fff;
    }
    .row {
        padding: 0 20px;
    }
}