.container {
  max-width: 1440px;
}

.container h1 {
  color: var(--color-white-text);
  font-size: clamp(1.8rem, 5vw, 2rem);

  margin-bottom: 20px;
}

.container main {
  width: inherit;

  display: flex;
  justify-content: space-between;
}

.cards_container {
  max-width: 930px;

  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.cards_container > div {
  flex: 10%;
}

/* Media Querie */
@media only screen and (max-width: 1230px) {
  .cards_container {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 852px) {
  .cards_container > div {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 620px) {
    .container {
      margin: 0 10px;
    }

    .container h1{
      padding-left: 20px;
    }
}

@media only screen and (max-width: 560px) {
  .cards_container > div {
    max-width: 450px;
  }
}
