.container {
  max-width: 1440px;
  margin: auto;
}

.container header {
  display: flex;
  justify-content: space-between;

  padding: 20px 0;
  background-color: transparent;
}

.container header h2 {
  font-weight: 400;
}

.container header .button_container button {
  font-weight: bold;
  border-radius: 8px;
}

.photos_container {
  column-count: 5;
  column-gap: 14px;
}

.photos_container .image_container {
  display: flex;
  flex-direction: column;

  transition: all 0.3s;
  margin-bottom: 20px;
}

.image_container .remove_photo {
  width: max-content;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;

  font-size: clamp(0.8rem, 5vw, 1rem);

  align-self: flex-end;

  padding: 6px 14px;

  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--dark-blue);
}

.image_container .remove_photo:hover {
  font-weight: bold;
  background-color: var(--dark-extra-light-blue);
}

.remove_photo .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos_container .image_container img {
  width: 100%;

  border-radius: 4px;
}

/* .photos_container .image_container:hover {
  transform: scale(1.1);
} */

/* Modal */
.modal_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_content p {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  font-weight: 300;

  margin-bottom: 20px;
}

.modal_content .content {
  display: flex;
  gap: 30px;
}

.modal_content .content .image_preview {
  width: 40%;
  height: 300px;

  outline: 1px dotted var(--color-white-text);
}

.image_preview label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.image_preview label input[type="file"] {
  display: none;
}

.image_preview label img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.modal_content .content .fields {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.modal_content .content .fields button {
  align-self: flex-end;
}

@media only screen and (max-width: 1280px) {
  .photos_container {
    column-count: 3;
  }
}

@media only screen and (max-width: 425px) {
  .photos_container {
    column-count: 2;
  }
}
