.container {
  max-width: 1440px;
  margin: auto;
}

header.content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 5vh;
  padding: 20px 15px;

  border-radius: 10px;
  background-color: var(--dark-light-blue);
}

.content .title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .title_container button {
  font-size: clamp(0.8rem, 5vw, 1rem) !important;
  border: none;

  transform: scale(0.9);
}

.content .title_container button:hover {
  border: none;

  outline: 1px solid var(--color-white-text);
}

.content p {
  font-size: clamp(0.6rem, 5vw, 1rem);
}

.content .info {
  width: max-content;

  font-size: clamp(0.6rem, 5vw, 1rem);

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px 10px;

  outline: 1px solid var(--color-white-text);
}

.content .info span {
  align-self: flex-end;
}

.content .info svg {
  font-size: clamp(0.9rem, 5vw, 1.3rem);
}

/* Content */
.content_container {
}

/* Nav */
.sidebar_container {
  border-bottom: 4px solid var(--color-white-text);
}

.sidebar_container ul {
  display: flex;
  gap: 60px;
}

.sidebar_container li {
  all: unset;

  font-size: clamp(1rem, 5vw, 1.8rem);
  font-weight: 700;

  position: relative;

  padding: 2px 5px;
}

.sidebar_container li.active {
  color: var(--dark-yellow);
}

.sidebar_container li.active::after {
  width: calc(100% + 50%);
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  left: -25%;
  bottom: -4px;
  background-color: var(--dark-yellow);
}

.sidebar_container li:nth-child(1).active::after {
  width: calc(100% + 50%);
  height: 4px;

  content: "";
  display: block;

  position: absolute;
  left: 20px;
  bottom: -4px;

  transform: translateX(-15%);

  background-color: var(--dark-yellow);
}

.sections_container {
  width: 100%;

  transition: all 0.5s ease-in-out;
}

.sections_container section {
  width: 100%;

  transition: all 0.5s ease-in-out;

}

/* Geral */
.general {
  background-color: red;
}

/* Individual */
.personal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* Ranking */
.ranking {
  background-color: bisque;
}

