.container {
  width: 100%;

  display: flex;
  gap: clamp(40px, 2vw, 80px);
}

.container.center {
  padding-left: 0px;
}

.container.center .content {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
}

.image {
  flex: 690px;
  max-width: 1080px;
  height: inherit;
  
  display: flex;
  justify-content: center;
  padding: 30px;
  
  position: relative;
  background-color: #E3E3E3;
}

.image img.ilustration {
  width: 100%;

  object-fit: contain;
}

.image img.logo {
  width: clamp(160px, 10vw, 250px);
  z-index: 1;

  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.content img.logo_small {
  display: none;
}

.content {
  flex: 1 1 1;
  max-width: 1024px;

  padding-top: 50px;
  padding-bottom: 40px;
  padding-right: clamp(40px, 3vw, 150px);
}

/** Media Queries **/
@media only screen and (min-height: 1280px) {
  .container {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 840px) {
  .container {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
  }

  .image {
    display: none;
  }

  .content img.logo_small {
    display: block;
    margin-bottom: 30px;
  }

  .content {
    max-width: 980px;

    padding: 40px 15px;
  }

  .container.center {
    padding-right: 0px;
  }

  .center .content  {
    max-width: 980px;
    flex-direction: column;
    
    padding: 10px !important;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}