.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  gap: 40px;

}

.image {
  flex: 1;
  position: relative;
  background-color: #fff;
}

.image img.ilustration {
  width: clamp(260px, 40vw, 768px);
  height: 100%;
  object-fit: cover;
}

.image img.logo {
  width: clamp(160px, 10vw, 250px);
  z-index: 1;

  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.content img.logo_small {
  display: none;
}

.content {
  flex: 1 1 1;

  padding-top: 50px;
  padding-right: clamp(40px, 3vw, 150px);
}

/** Media Queries **/
@media only screen and (max-width: 840px) {
  .container {
    margin: 0 auto;
    justify-content: center;
  }

  .image {
    display: none;
  }

  .content img.logo_small {
    display: block;
    margin-bottom: 30px;
  }

  .content {
    padding: 40px 15px;
  }
}