.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  gap: 40px;
}

.image {
  width: clamp(650px, 50vw, 1080px);
  height: 100vh;

  background-color: #fff;
  position: relative;
}

.image img.ilustration {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.image img.logo {
  width: clamp(250px, 40vw, 300px);
  z-index: 1;

  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  flex: 660px 1 0;

  padding-top: 50px;
  padding-right: 120px;
}
