* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;

  font-family: "Poppins", sans-serif;
}

/* VAVRIÁVEIS */
:root {
  /* Cores de Texto */
  --color-white-text: #cbcbcb;
  --color-black-text: #000410;
  --color-red-text: #530014;
  --color-blue-text: #153269;

  /* Tema escurdo */
  --dark-grey: #312e4e;
  --dark-container: #0b0b3d;
  --dark-background: #07074f;
  --dark-light-blue: #132256;
  --dark-blue: #495e93;
  --dark-pink: #9e3c54;
  --dark-yellow: #daa05c;

  --input-border-color: ;
  --input-placeholder-color: ;
  --input-placeholder-size: ;
  --input-value-color: ;
  --inout-value-size: ;

  --select-background-dark: #45457B;
  --select-background-multivalue: #8383A7;
}

body {
  width: 100%;
  height: 100vh;

  background-color: var(--dark-background);
}

a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-white-text);
}
